body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  border: 4px solid #333;
}

.square {
  width: 80px;
  height: 80px;
}
.light {
  background: #eae9e8;
}

.dark {
  background: #070707;
}